.container {
    width: 100%;
}

.submenu a {
    background: #f5f5f5;
    border-radius: 0;
}

.submenu a:hover, .submenu a.active, .submenu a.active, .submenu a.active:hover, .submenu a.active:active {
    background: #44b5f6;
    border-color: #44b5f6;
    color: #fff;
}